<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/AplicativoWebIntegrador/index.jsp">
            <img src="/AplicativoWebIntegrador/views/Intranet/imagenes/Logo.jpeg" alt="Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown mx-4">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        CATÁLOGO
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item dropdown mx-4">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Hombre
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../catalogo/CatPolera.jsp">Poleras</a></li>
                                <li><a class="dropdown-item" href="../catalogo/CatPolos.jsp">Polos</a></li>
                                <li><a class="dropdown-item" href="../catalogo/CatPantalones.jsp">Pantalones</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown mx-4">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Mujer
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../catalogo/CatPolerasM.jsp">Poleras</a></li>
                                <li><a class="dropdown-item" href="../catalogo/CatPolosM.jsp">Polos</a></li>
                                <li><a class="dropdown-item" href="../catalogo/CatPantalonesM.jsp">Pantalones</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown mx-4">
                        <li><a class="dropdown-item" href="../catalogo/CatAccesorios.html">Accesorios<a></li>
                </li>

            </ul>
            </li>

            <li class="nav-item mx-4">
                <a class="nav-link active" href="../Nosotros.html">NOSOTROS</a>
            </li>

            <li class="nav-item mx-4">
                <a class="nav-link active" href="../catalogo/LibroReclamaciones.html">LIBRO DE RECLAMACIONES</a>
            </li>
            </ul>
            <form class="d-flex" style="width: 35%;">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search"
                    style="height: 45px; font-size: 1.1rem;">
                <button class="btn d-flex align-items-center justify-content-center" type="submit"
                    style="height: 45px; width: 45px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </button>
            </form>


            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/AplicativoWebIntegrador/views/Intranet/Intranet.jsp">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="CarritoCompras.jsp">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
